<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Hubiot" %></h1>
  <%=@location %>
  <div class="row">
    <div class="container">
      <img src=" <%= "data:image/png;base64, "<>@code %>">
    </div>
  </div>
</section>
